body {
  background-color: #111;
  color: white;
}

.event-header {
  background: linear-gradient(to right, #333, #111);
  padding: 2rem;
  border-radius: 10px;
}

.form-section, .summary-section {
  background-color: #222;
  padding: 1.5rem;
  border-radius: 10px;
}

.timer-box {
  background-color: #444;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  color: #0f0;
  font-weight: bold;
}
a.buy-ticket {
  text-decoration: none;
}